<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app = "Friso">

<%= yield %>

</body>
<%= javascript_include_tag 'application' %>

</html>
